streamlit
langchain
langchain-chroma
langchain-community
langchain-huggingface
transformers
sentence-transformers
pymupdf
unstructured
accelerate
requests
SQLAlchemy
chromadb
pysqlite3-binary
pypika
langdetect
